<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <td>
    <table>
      <tr>
        <th>V1</th>
        <th>V2</th>
        <th>V3</th>
        <th>V4</th>
      </tr>
      {% for obt in obts_type_1 %}
        <tr>
          <td>{{ obt.v1 }}</td>
          <td>{{ obt.v2 }}</td>
          <td>{{ obt.v3 }}</td>
          <td>{{ obt.v4 }}</td>
        </tr>
      {% endfor %}
    </table>
  </td>
  <td>
    <table>
      <tr>
        <th>V1</th>
        <th>V2</th>
        <th>V3</th>
        <th>V4</th>
      </tr>
      {% for obt in obts_type_2 %}
        <tr>
          <td>{{ obt.v1 }}</td>
          <td>{{ obt.v2 }}</td>
          <td>{{ obt.v3 }}</td>
          <td>{{ obt.v4 }}</td>
        </tr>
      {% endfor %}
    </table>
  </td>
</table>

</body>
</html>